## Create Azure SQL Database
- Import data using
  - mysql-data.txt
  - sqlserver.txt

## Create the JDBC URL

In [0]:
jdbcHostname = "sqlserveratin.database.windows.net"
jdbcDatabase = "sqldbatin"
jdbcPort = 1433
username = "atingupta2005"
password = "Azure@123456"
jdbcUrl = "jdbc:sqlserver://{0}:{1};database={2};user={3};password={4}".format(jdbcHostname, jdbcPort, jdbcDatabase, username, password)

In [0]:
# You can pass in a dictionary that contains the credentials and driver class similar to the preceding Scala example.

jdbcUrl = "jdbc:sqlserver://{0}:{1};database={2}".format(jdbcHostname, jdbcPort, jdbcDatabase)
connectionProperties = {
  "user" : username,
  "password" : password,
  "driver" : "com.microsoft.sqlserver.jdbc.SQLServerDriver"
}

## Push down a query to the database engine

In [0]:
pushdown_query = "(select * from employees) employees_alias"
df = spark.read.jdbc(url=jdbcUrl, table=pushdown_query, properties=connectionProperties)
display(df)

employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id
100,Steven,King,steven.king@sqltutorial.org,515.123.4567,1987-06-17,4,24000.00,null,9
101,Neena,Kochhar,neena.kochhar@sqltutorial.org,515.123.4568,1989-09-21,5,17000.00,100,9
102,Lex,De Haan,lex.de haan@sqltutorial.org,515.123.4569,1993-01-13,5,17000.00,100,9
103,Alexander,Hunold,alexander.hunold@sqltutorial.org,590.423.4567,1990-01-03,9,9000.00,102,6
104,Bruce,Ernst,bruce.ernst@sqltutorial.org,590.423.4568,1991-05-21,9,6000.00,103,6
105,David,Austin,david.austin@sqltutorial.org,590.423.4569,1997-06-25,9,4800.00,103,6
106,Valli,Pataballa,valli.pataballa@sqltutorial.org,590.423.4560,1998-02-05,9,4800.00,103,6
107,Diana,Lorentz,diana.lorentz@sqltutorial.org,590.423.5567,1999-02-07,9,4200.00,103,6
108,Nancy,Greenberg,nancy.greenberg@sqltutorial.org,515.124.4569,1994-08-17,7,12000.00,101,10
109,Daniel,Faviet,daniel.faviet@sqltutorial.org,515.124.4169,1994-08-16,6,9000.00,108,10
110,John,Chen,john.chen@sqltutorial.org,515.124.4269,1997-09-28,6,8200.00,108,10
111,Ismael,Sciarra,ismael.sciarra@sqltutorial.org,515.124.4369,1997-09-30,6,7700.00,108,10
112,Jose Manuel,Urman,jose manuel.urman@sqltutorial.org,515.124.4469,1998-03-07,6,7800.00,108,10
113,Luis,Popp,luis.popp@sqltutorial.org,515.124.4567,1999-12-07,6,6900.00,108,10
114,Den,Raphaely,den.raphaely@sqltutorial.org,515.127.4561,1994-12-07,14,11000.00,100,3
115,Alexander,Khoo,alexander.khoo@sqltutorial.org,515.127.4562,1995-05-18,13,3100.00,114,3
116,Shelli,Baida,shelli.baida@sqltutorial.org,515.127.4563,1997-12-24,13,2900.00,114,3
117,Sigal,Tobias,sigal.tobias@sqltutorial.org,515.127.4564,1997-07-24,13,2800.00,114,3
118,Guy,Himuro,guy.himuro@sqltutorial.org,515.127.4565,1998-11-15,13,2600.00,114,3
119,Karen,Colmenares,karen.colmenares@sqltutorial.org,515.127.4566,1999-08-10,13,2500.00,114,3
120,Matthew,Weiss,matthew.weiss@sqltutorial.org,650.123.1234,1996-07-18,19,8000.00,100,5
121,Adam,Fripp,adam.fripp@sqltutorial.org,650.123.2234,1997-04-10,19,8200.00,100,5
122,Payam,Kaufling,payam.kaufling@sqltutorial.org,650.123.3234,1995-05-01,19,7900.00,100,5
123,Shanta,Vollman,shanta.vollman@sqltutorial.org,650.123.4234,1997-10-10,19,6500.00,100,5
126,Irene,Mikkilineni,irene.mikkilineni@sqltutorial.org,650.124.1224,1998-09-28,18,2700.00,120,5
145,John,Russell,john.russell@sqltutorial.org,null,1996-10-01,15,14000.00,100,8
146,Karen,Partners,karen.partners@sqltutorial.org,null,1997-01-05,15,13500.00,100,8
176,Jonathon,Taylor,jonathon.taylor@sqltutorial.org,null,1998-03-24,16,8600.00,100,8
177,Jack,Livingston,jack.livingston@sqltutorial.org,null,1998-04-23,16,8400.00,100,8
178,Kimberely,Grant,kimberely.grant@sqltutorial.org,null,1999-05-24,16,7000.00,100,8
179,Charles,Johnson,charles.johnson@sqltutorial.org,null,2000-01-04,16,6200.00,100,8
192,Sarah,Bell,sarah.bell@sqltutorial.org,650.501.1876,1996-02-04,17,4000.00,123,5
193,Britney,Everett,britney.everett@sqltutorial.org,650.501.2876,1997-03-03,17,3900.00,123,5
200,Jennifer,Whalen,jennifer.whalen@sqltutorial.org,515.123.4444,1987-09-17,3,4400.00,101,1
201,Michael,Hartstein,michael.hartstein@sqltutorial.org,515.123.5555,1996-02-17,10,13000.00,100,2
202,Pat,Fay,pat.fay@sqltutorial.org,603.123.6666,1997-08-17,11,6000.00,201,2
203,Susan,Mavris,susan.mavris@sqltutorial.org,515.123.7777,1994-06-07,8,6500.00,101,4
204,Hermann,Baer,hermann.baer@sqltutorial.org,515.123.8888,1994-06-07,12,10000.00,101,7
205,Shelley,Higgins,shelley.higgins@sqltutorial.org,515.123.8080,1994-06-07,2,12000.00,101,11
206,William,Gietz,william.gietz@sqltutorial.org,515.123.8181,1994-06-07,1,8300.00,205,11

In [0]:
df.printSchema()

In [0]:
display(df.select("department_id", "salary").groupBy("department_id").avg("salary"))

department_id,avg(salary)
1,4400.000000
6,5760.000000
3,4150.000000
5,5885.714286
9,19333.333333
4,6500.000000
8,9616.666667
7,10000.000000
10,8600.000000
11,10150.000000
2,9500.000000

## Read from JDBC connections across multiple workers

In [0]:
df = spark.read.jdbc(url=jdbcUrl, table="employees", column="department_id", lowerBound=1, upperBound=15, numPartitions=100, properties=connectionProperties)
display(df)

## Write data to JDBC

In [0]:
df.select("employee_id","first_name", "last_name").write.format("jdbc") \
  .mode("overwrite") \
  .option("url", jdbcUrl) \
  .option("dbtable", "dbo.Employees2") \
  .option("user", username) \
  .option("password", password) \
  .save()

### Append to SQL Table

In [0]:
try:
  df.write \
    .format("jdbc") \
    .mode("append") \
    .option("url", jdbcUrl) \
    .option("dbtable", "dbo.employees") \
    .option("user", username) \
    .option("password", password) \
    .save()
except ValueError as error :
    print("Connector write failed", error)

In [0]:
display(df)